 
<div class="divcls">
                            
    <a class="text-dark acls"
           href="@Url.Action("Index", "AssetDashboard")" >
        <i class="bi bi-speedometer2 me-2 mnicn"></i>
        <span class="mnspan">Dashboard</span>
    </a>
                                
    <a class=" text-dark acls"
           href="@Url.Action("Index", "Asset")"  >
        <i class="bi bi-building-gear me-2 mnicn"></i>
        <span class="mnspan">Assets</span>
    </a>

    <a class=" text-dark acls"
           href="@Url.Action("Index", "AssetTracking")">
        <i class="bi bi-qr-code-scan me-2 mnicn"></i>
        <span class="mnspan">Asset Tracking</span>
    </a>
                              
    <a class="text-dark acls"
           href="@Url.Action("Index", "Depreciation")"  >
        <i class="bi bi-graph-down-arrow me-2 mnicn"></i>
        <span class="mnspan">Depreciation</span>
    </a>
                               
    <a class=" text-dark acls"
           href="@Url.Action("AssetTypes", "AssetLookup")"  >
        <i class="bi bi-tags me-2 mnicn"></i>
        <span class="mnspan">Asset Types</span>
    </a>
                               
    <a class=" text-dark acls"
           href="@Url.Action("Locations", "AssetLookup")"  >
        <i class="bi bi-geo-alt me-2 mnicn"></i>
        <span class="mnspan">Locations</span>
    </a>
                               
    <a class=" text-dark acls"
           href="@Url.Action("Departments", "AssetLookup")"  >
        <i class="bi bi-diagram-2 me-2 mnicn"></i>
        <span class="mnspan">Departments</span>
    </a>
                                
    <a class=" text-dark acls"
           href="@Url.Action("Vendors", "AssetLookup")"  >
        <i class="bi bi-truck me-2 mnicn"></i>
        <span class="mnspan">Vendors</span>
    </a>
                               
</div>
