 
<div class="divcls">
  
    <a class="text-dark acls"
           href="@Url.Action("Index", "DocumentDashboard")">
        <i class="bi bi-speedometer2 me-2 mnicn"></i>
        <span class="mnspan">Dashboard</span>
    </a>
    <a class="text-dark acls"
           href="@Url.Action("Index", "Document")">
        <i class="bi bi-file-earmark-text me-2 mnicn"></i>
        <span class="mnspan">Documents</span>
    </a>
    <a class="text-dark acls"
           href="@Url.Action("Search", "Document")">
        <i class="bi bi-search me-2 mnicn"></i>
        <span class="mnspan">Search</span>
    </a>
    <a class="text-dark acls"
           href="@Url.Action("Index", "ApprovalMatrix")">
        <i class="bi bi-diagram-3 me-2 mnicn"></i>
        <span class="mnspan">Approval Matrix</span>
    </a>
    <a class="text-dark acls"
           href="@Url.Action("Index", "DocumentRepository")">
        <i class="bi bi-folder2 me-2 mnicn"></i>
        <span class="mnspan">My Documents</span>
    </a>
    <a class="text-dark acls"
           href="@Url.Action("SharedWithMe", "DocumentRepository")">
        <i class="bi bi-people-fill me-2 mnicn"></i>
        <span class="mnspan">Shared With Me  </span>
    </a>
   
    <a class="text-dark acls"
           href="@Url.Action("Templates", "DocumentMetadata")">
        <i class="bi bi-grid-3x3-gap me-2 mnicn"></i>
        <span class="mnspan">Metadata Templates</span>
    </a>
 
  
</div>
