 
<div class="divcls">
    <a class="text-dark acls"
           href="@Url.Action("Index", "MaintenanceDashboard")" >
        <i class="bi bi-speedometer2 me-2 mnicn"></i>
        <span class="mnspan">Dashboard</span>
    </a>
   
    <a class="text-dark acls"
           href="@Url.Action("Index", "WorkOrder")">
        <i class="bi bi-wrench-adjustable me-2 mnicn"></i>
        <span class="mnspan">Work Orders</span>
    </a>
    <a class="text-dark acls"
           href="@Url.Action("Index", "PMSchedule")">
        <i class="bi bi-calendar-check me-2 mnicn"></i>
        <span class="mnspan">PM Schedules</span>
    </a>
    <a class="text-dark acls"
           href="@Url.Action("FailureAnalysis", "PMSchedule")">
        <i class="bi bi-bug me-2 mnicn"></i>
        <span class="mnspan">Failure Analysis</span>
    </a>
    <a class="text-dark acls"
           href="@Url.Action("SLAReport", "PMSchedule")">
        <i class="bi bi-clock-history me-2 mnicn"></i>
        <span class="mnspan">SLA & Backlog</span>
    </a>
    <a class="text-dark acls"
           href="@Url.Action("Reliability", "PMSchedule")">
        <i class="bi bi-heart-pulse me-2 mnicn"></i>
        <span class="mnspan">Reliability</span>
    </a>
    <a class="text-dark acls"
           href="@Url.Action("CostByAsset", "PMSchedule")">
        <i class="bi bi-cash-stack me-2 mnicn"></i>
        <span class="mnspan">Cost Analysis</span>
    </a>
  
                       
</div>
