 
<div class="divcls">
        

        <a class="text-dark acls"
               href="@Url.Action("Index", "ManufacturingDashboard")" >
            <i class="bi bi-speedometer2 me-2 mnicn"></i>
            <span class="mnspan">Dashboard</span>
        </a>
  
        <a class="text-dark acls"
               href="@Url.Action("Index", "Production")">
            <i class="bi bi-gear-wide-connected me-2 mnicn"></i>
            <span class="mnspan">Production</span>
        </a>
  
        <a class="text-dark acls"
               href="@Url.Action("Products", "ProductCatalog")" >
            <i class="bi bi-box-seam me-2 mnicn"></i>
            <span class="mnspan">Products</span>
        </a>

        <a class="text-dark acls"
               href="@Url.Action("BOMs", "ProductCatalog")" >
            <i class="bi bi-diagram-2 me-2 mnicn"></i>
            <span class="mnspan">BOMs</span>
        </a>

        <a class="text-dark acls"
               href="@Url.Action("Routings", "ProductCatalog")" >
            <i class="bi bi-signpost-split me-2 mnicn"></i>
            <span class="mnspan">Routings</span>
        </a>

        <a class="text-dark acls"
               href="@Url.Action("Capacity", "Production")" >
            <i class="bi bi-bar-chart me-2 mnicn"></i>
            <span class="mnspan">Capacity</span>
        </a>

    <a class="text-dark acls"
           href="@Url.Action("Index", "WorkCenter")">
        <i class="bi bi-gear-wide-connected  me-2 mnicn"></i>
        <span class="mnspan">Work Centers</span>
    </a>
</div>
