 
<div class="divcls">
    <a class="nav-item dropdown  dropdown-toggle text-dark acls" href="#" role="button" data-bs-toggle="dropdown"> <i class="bi bi-file-bar-graph me-2 mnicn"></i>Dashboards</a>
    <ul class="dropdown-menu" style="left:auto !important;">
        <li>
            <a class="text-dark acls"
               href="@Url.Action("Index", "InventoryDashboard")">
            <i class="bi bi-speedometer2 me-2 mnicn"></i>
            <span class="mnspan">Dashboard</span>
        </a>
        </li>
        <li>
            <a class="text-dark acls"
                   href="@Url.Action("Valuation", "Inventory")">
                <i class="bi bi-currency-dollar me-2 mnicn"></i>
                <span class="mnspan">Valuation</span>
            </a>
        </li>
        <li>
            <a class="text-dark acls"
                   href="@Url.Action("Reorder", "Inventory")">
                <i class="bi bi-exclamation-diamond me-2 mnicn"></i>
                <span class="mnspan">Reorder</span>
            </a>
        </li>
        <li>
            <a class="text-dark acls"
                   href="@Url.Action("ABCAnalysis", "Inventory")">
                <i class="bi bi-bar-chart-steps me-2 mnicn"></i>
                <span class="mnspan">ABC Analysis</span>
            </a>
        </li>
        <li>
            <a class="text-dark acls"
                   href="@Url.Action("StockAging", "Inventory")">
                <i class="bi bi-hourglass-split me-2 mnicn"></i>
                <span class="mnspan">Stock Aging</span>
            </a>
        </li>
        <li>
            <a class="text-dark acls"
                   href="@Url.Action("ExpiryTracking", "Inventory")">
                <i class="bi bi-calendar-x me-2 mnicn"></i>
                <span class="mnspan">Expiry</span>
            </a>
        </li>
        <li>
            <a class="text-dark acls"
                   href="@Url.Action("Turnover", "Inventory")">
                <i class="bi bi-arrow-repeat me-2 mnicn"></i>
                <span class="mnspan">Turnover</span>
            </a>
 
        </li>
            
                                      
    </ul>
 

    <a class="text-dark acls"
           href="@Url.Action("Index", "Inventory")">
        <i class="bi bi-boxes me-2 mnicn"></i>
        <span class="mnspan">Inventory</span>
    </a>
    <a class="text-dark acls"
           href="@Url.Action("Transactions", "Inventory")">
        <i class="bi bi-arrow-left-right me-2 mnicn"></i>
        <span class="mnspan">Transactions</span>
    </a>
    <a class="text-dark acls"
           href="@Url.Action("Warehouses", "Inventory")">
        <i class="bi bi-building me-2 mnicn"></i>
        <span class="mnspan">Warehouses</span>
    </a>
    <a class="text-dark acls"
           href="@Url.Action("CycleCounts", "Inventory")">
        <i class="bi bi-clipboard-data me-2 mnicn"></i>
        <span class="mnspan">Cycle Counts</span>
    </a>
       
     
</div>
